[core]
	editor = vim
	abbrev = 12
	excludesFile = ~/.gitignore

[color]
	ui = true

[alias]
	aa = add --all

	l = log --oneline
	s = status --porcelain
	i = remote -v

	cm = commit -sv -m
	ca = commit -sv --amend

	b = branch
	ba = branch -a

	c = checkout
	cb = checkout -b

	r = reset
	rh = reset --hard

	pretty-show = show -s --pretty='format:%h (\"%s\")'
	patchcount = shortlog -s -n
	meld = !git difftool $1^! --tool meld --no-prompt

	reset-time = rebase -i --exec 'git commit --amend --no-edit --date=now'
	reset-author = rebase -i --exec 'git commit --amend --no-edit --reset-author'

[pull]
	ff = only
